<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <title>将CSDN中的数据导入到Blog</title>
  </head>
  <body>
  <div style="text-align:center;">
      <h3>将CSDN中的数据导入到Blog</h3>
      <form role="form" method="post" action="GoToPages">
        <div class="form-group">
          <br>
        </div>

        <button type="button" class="btn btn-default" onclick="window.location.href='./getAcw'">获取acw_sc__v2</button>
        &nbsp;&nbsp;
          <button type="submit" class="btn btn-default" href="javascript:login()">跳转到该页</button>
        <br><br>
        <button type="button" class="btn btn-primary" onclick="window.location.href='./FindAiYueBlog'">查看爱玥博客</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary" onclick="window.location.href='https://blog.csdn.net/qq_36254699'">查看CSDN博客</button>

        <br><br>
        <h5>登录名：<span th:text="${session.loginUser}"></span></h5>
      </form>
  </div>

  </body>

  <script type="text/javascript">
    function reset(){
      document.getElementById("userName").value = "";
      document.getElementById("password").value = "";
    }
    function login(){
      document.getElementById('form').submit();
    }
  </script>

</html>
